@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
/* Utilites */

.container {
  width: min(80%, 1440px);
  margin: 0 auto;
}

/***********************/
/*    HEADER & HERO    */
/***********************/
header {
  /* background-color: #1f2937; */
  padding: 1em 0;
}
nav ul {
  display: flex;
  margin: 0 -10px;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
}
nav li {
  margin: 0 10px;
}
.logo {
  margin-right: auto;
}
.logo a {
  font-size: 24px;
  background: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: hsl(217, 91%, 59%);
}

.hero {
  display: flex;
  gap: 60px;
  margin: 100px 0;
  align-items: center;
}
.hero-content {
  flex: 1;
}
.hero-content h1 {
  font-size: 80px;
  font-weight: 900;
  color: hsl(215, 28%, 17%);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.hero-content h1 span {
  background: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
.hero-content p {
  font-size: 18px;
  color: #576175;
  margin: 10px 0;
}

.btn {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  padding: 15px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  border: none;
  display: block;
  font-size: 25px;
  cursor: pointer;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hero-content .btn {
  margin-top: 20px;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero-image img {
  width: 550px;
  height: 650px;
}
/***********************/
/*      INFORMATION    */
/***********************/
.information-header h1 {
  font-size: 36px;
  font-weight: 900;
  color: hsl(215, 28%, 17%);
  text-align: center;
  margin: 50px 0;
}
.card-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 450px;
  min-width: 250px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.card-image {
  height: 200px;
  padding: 0;
  max-width: 100%;
  vertical-align: top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card header {
  padding: 1em 1em;
}
.card-footer p {
  font-size: 16px;
  color: #1f2937;
  padding: 25px;
  font-weight: 300;
}

/***********************/
/*         QUOTES      */
/***********************/

.quote {
  background-color: #e5e7eb;
}

.quote-content p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
}
.quote-content {
  padding: 4em;
}
.quote-content cite {
  display: flex;
  justify-content: flex-end;
}

/***********************/
/*  CALL TO ACTION     */
/***********************/
.cta {
  margin: 100px 0;
}
.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(217, 37%, 63%);
  gap: 15px;
  padding: 50px 0;
  color: #e5e7eb;
}
.cta-content .btn {
  font-size: 18px;

  padding: 8px 60px;
}
